<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @filmes.each do |filme| %>

     <h2><%= filme.id %></h2>
     <h3><%= filme.title %></h3>
     <h3><%= filme.originalTitle %></h3>
     <h3><%= filme.slug %></h3>
     <h3><%= filme.sinopse %></h3>
     <h3><%= filme.duration %></h3>
     <h3><%= filme.likes %></h3>
     <h3><%= filme.isPublished %></h3>
     <h3>  <%= image_tag filme.imagem.url(:thumb) %>
</h3>



  <% end %>
