<h1>óia n é que foi. :D</h1>

<% if user_signed_in? %>
  <h2><%= link_to 'Add Filme', new_filme_path %></h2>
<% end %>

<% @filmes.each do |filme| %>

     <h2><%= filme.id %></h2>
     <h3><%= filme.title %></h3>
     <h3><%= filme.originalTitle %></h3>
     <h3><%= filme.slug %></h3>
     <h3><%= filme.sinopse %></h3>
     <h3><%= filme.duration %></h3>
     <h3><%= filme.likes %></h3>
     <h3><%= filme.isPublished %></h3>
     <h3>  <%= image_tag filme.imagem.url(:thumb) %>
</h3>



  <% end %>

</table>
