<h1>NEW</h1>

<p id="notice"><%= notice %></p>



<%= form_with scope: :filmes, html: { multipart: true }, url: filmes_path, local: true do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :originalTitle %><br>
    <%= form.text_field :originalTitle %>
  </p>

  <p>
    <%= form.label :sinopse %><br>
    <%= form.text_field :sinopse %>
  </p>

  <p>
    <%= form.label :duration %><br>
    <%= form.text_field :duration %>
  </p>

  <p>
    <%= form.label :likes %><br>
    <%= form.text_field :likes %>
  </p>

  <p>
    <%= form.label :isPublished %><br>
    <%= form.text_field :isPublished %>
  </p>
  <p>
    <%= form.file_field :imagem %>
  </p>

  <p>
    Lista de Atores<br>
    <%= form.text_field :listaAtores %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', filmes_path %>
