<h1>SHOW</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @filme.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @filme.title %>
</p>

<p>
  <strong>Original Title:</strong>
  <%= @filme.originalTitle %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @filme.slug %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @filme.sinopse %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @filme.duration %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @filme.likes %>
</p>

<p>
  <strong>isPublished:</strong>
  <%= @filme.duration %>
</p>

<p>
  <%= image_tag @filme.imagem.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_filme_path(@filme) %> |
<%= link_to 'Back', filmes_path %>
